/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #1f1f21;
  font-weight: 400;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #d60e0e;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.x-large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.ft-primary {
  color: #d60e0e;
}

.ft-secondary {
  color: #151618;
}

.ft-light {
  color: #6d6e71;
}

.ft-dark {
  color: #1f1f21;
}

.ft-base {
  color: #eee;
}

.ft-success {
  color: #28a745;
}

.ft-danger {
  color: #dc3545;
}

.ft-white {
  color: #fff;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-bold {
  font-weight: 600;
}

.fw-xl-bold {
  font-weight: 700;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

.skin-primary {
  background-color: #d60e0e;
  color: #fff;
}

.skin-secondary {
  background-color: #151618;
  color: #fff;
}

.skin-light {
  background-color: #6d6e71;
  color: #fff;
  border: #ccc 1px solid;
}

.skin-dark {
  background-color: #1f1f21;
  color: #fff;
}

.skin-base {
  background-color: #eee;
  color: #333;
}

.skin-success {
  background-color: #28a745;
  color: #fff;
}

.skin-danger {
  background-color: #dc3545;
  color: #fff;
}

.skin-white {
  background-color: #fff;
  color: #333;
  border: #ccc 1px solid;
}

.v-btn {
  display: inline-block;
  background: #6d6e71;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: .8rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;
  border-radius: 3px;
  box-shadow: 0 1px 5px #ddd;
  text-transform: uppercase;
  font-weight: 600;
}

.v-btn:focus {
  outline: none;
}

.v-btn:hover {
  text-decoration: none;
}

.v-btn.btn-block {
  text-align: center;
}

.v-btn.v-btn-primary {
  background-color: #d60e0e;
  color: #fff;
  color: #fff;
}

.v-btn.v-btn-primary:hover {
  background: #ee1010;
}

.v-btn.v-btn-secondary {
  background-color: #151618;
  color: #fff;
  color: #fff;
}

.v-btn.v-btn-secondary:hover {
  background: #212226;
}

.v-btn.v-btn-base {
  background-color: #eee;
  color: #333;
}

.v-btn.v-btn-base:hover {
  background: #888888;
}

.v-btn.v-btn-dark {
  background-color: #1f1f21;
  color: #fff;
}

.v-btn.v-btn-dark:hover {
  background: #2b2b2e;
}

.v-btn.v-btn-white {
  background-color: #fff;
  color: #333;
}

.v-btn.v-btn-white:hover {
  background: #d60e0e;
}

.v-btn.v-btn-success {
  background-color: #28a745;
  color: #fff;
}

.v-btn.v-btn-success:hover {
  background: #2dbc4e;
}

.v-btn.v-btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.v-btn.v-btn-danger:hover {
  background: #e04b59;
}

.v-btn:hover {
  background: #505056;
  color: #fff;
}

.icon {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.icon.icon {
  color: #9d9da2;
}

.icon.icon-primary {
  background-color: #d60e0e;
  color: #fff;
}

.icon.icon-secondary {
  background-color: #151618;
  color: #fff;
}

.icon.icon-danger {
  background-color: #dc3545;
  color: #fff;
}

.icon.icon-shadow {
  background-color: #1f1f21;
  color: #fff;
}

.icon.icon-xs {
  width: 15px;
  height: 15px;
  font-size: 9px;
  line-height: 15px;
}

.icon.icon-sm {
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 22px;
}

.icon.icon-md {
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
}

.icon.icon-lg {
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
}

.tgl {
  display: none;
}

.tgl, .tgl:after, .tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
}

.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all .2s ease;
}

.tgl-light:checked + .tgl-btn {
  background: #d60e0e;
}

.dropdown-menu {
  box-shadow: none;
  border-radius: 0;
}

.page-navigation {
  display: inline-block;
}

.page-navigation .page-item .page-link {
  color: #151618;
}

.page-navigation .page-item.active .page-link {
  background-color: #151618;
  border-color: #151618;
  color: #fff;
}

.file-upload {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  border: 3px dashed #b7b7bb;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #eee;
  border: 3px dashed #d60e0e;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

label {
  color: #8794ab;
}

.form-control {
  border-color: transparent;
  border: 1px solid #ddd;
  font-size: .8rem;
  font-weight: 600;
}

.form-control:focus {
  border-color: #151618;
  box-shadow: none;
}

.app-content {
  padding-top: 65px;
}

.app-header .checkbtn {
  font-size: 30px;
  float: right;
  line-height: 60px;
  margin-right: 15px;
  cursor: pointer;
  display: none;
}

.app-header #check {
  display: none;
}

.app-header nav {
  border-top: 4px solid #d60e0e;
  border-bottom: 1px solid #ddd;
  display: flex;
  height: 65px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: .4rem 6.5rem;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
}

.app-header nav .logo {
  margin-top: 10px;
  color: #d60e0e;
  width: 90px;
}

.app-header nav ul {
  display: flex;
}

.app-header nav ul li >
a {
  color: #1f1f21;
  padding: .6rem 0rem;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  border-bottom: 3px solid transparent;
  display: inline-block;
  margin-left: 1.5rem;
  line-height: 40px;
  text-transform: uppercase;
}

.app-header nav ul li >
a.active, .app-header nav ul li >
a:hover {
  color: #d60e0e;
  text-decoration: none;
  border-bottom: 2px solid #d60e0e;
}

.app-header nav ul .nav-dropdown a {
  display: block;
  padding: .5rem 1rem;
  font-size: 0.9rem;
}

.app-header nav ul .nav-dropdown a:hover {
  text-decoration: none;
}

.page-title, .page-filter, .page-content {
  padding: 1rem 0;
}

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title .title {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 800;
}

.page-title .title-icon {
  margin-right: 1rem;
}

.page-title .actions-ctrl .v-btn:last-child {
  margin-right: 0;
}

.page-filter .filter-list {
  margin: 0 auto;
}

.page-filter .filter-list li {
  display: inline-block;
  padding: 0 1rem;
  text-align: left;
  border-left: 1px solid #eee;
}

.page-filter .filter-list li:first-child {
  border-left: 0;
  padding-left: 0;
}

.stats {
  background-color: #d60e0e;
  padding: 1rem;
  display: block;
  border-radius: 3px;
  border-bottom: 3px solid transparent;
  margin-bottom: 2rem;
}

.stats.active {
  border-bottom-color: #151618;
}

.stats a:hover {
  color: #151618;
  text-decoration: none;
}

.stats .icon {
  color: #fff;
}

.stats h2 {
  font-size: 1.4rem;
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 200;
}

.difference.down {
  color: #dc3545;
}

.difference.up {
  color: #28a745;
}

table th, td {
  padding: 0.6rem;
  font-size: .8rem;
  color: #333;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  background-color: #eee;
  text-transform: uppercase;
  color: #151618;
  font-weight: 600;
}

table td {
  background-color: #fff;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}

hr {
  background-color: rgba(109, 110, 113, 0.2);
}

.filter-row {
  display: flex;
}

.filter-by,
.search-field {
  display: flex;
}

.block {
  margin-bottom: 1rem;
}

.block.no-padding .header,
.block.no-padding .content,
.block.no-padding .footer {
  padding: 1rem 0;
}

.block .header,
.block .content,
.block .footer {
  padding: 1rem;
  color: rgba(109, 110, 113, 0.7);
}

.block .header {
  padding-bottom: 0;
  font-weight: 400;
}

.block .content {
  font-size: .9rem;
}

.block.default {
  background-color: #1f1f21;
}

.block.light {
  background-color: #6d6e71;
}

.login-page {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
}

.login-page .bg-img {
  background: url("http://52.11.202.204/ui-projects/exigo/bg-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-page .logo {
  width: 200px;
}

.login-page .login-form {
  width: 30%;
  padding-top: 10rem;
  background-color: #d60e0e;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-page .login-form .form-header {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.login-page .login-form .form-header h1 {
  color: #fff;
  font-size: 2rem;
}

.login-page .login-form .form-fields .form-group {
  margin-bottom: 2rem;
}

.login-page .login-form .form-fields .form-group .v-control {
  background-color: transparent;
  border: 0;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  color: #fff;
}

.login-page .login-form .form-fields .form-group .v-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.login-page .login-form .form-fields .form-group .v-control:focus {
  outline: none;
}

.login-page .login-form .form-fields .form-group .login-btn {
  box-shadow: none;
  margin-top: 1rem;
}

.login-page .login-content {
  width: 70%;
  height: 100%;
  padding: 4rem;
}

.login-page .login-content .details {
  margin-top: 5rem;
}

.login-page .login-content h1 {
  color: #fff;
}

.login-page .login-content p {
  color: rgba(255, 255, 255, 0.7);
}

.company-profile {
  display: flex;
  justify-content: space-between;
}

.company-profile .title {
  margin: 10px 0;
}

.stats-list {
  overflow-y: scroll;
  height: 100vh;
}

.stats-list li {
  background-color: #d60e0e;
  color: #151618;
  padding: 0.5rem;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  margin-bottom: 0.5rem;
  border-left: 2px solid #151618;
}

.stats-list li h4 {
  text-transform: uppercase;
  font-size: .9rem;
}

.stats-list li h1 {
  font-size: 2rem;
}

.stats-list li p {
  font-size: 0.7rem;
  color: rgba(21, 22, 24, 0.7);
}

.stats-list li:first-child {
  background-color: #151618;
  color: #d60e0e;
}

.top-event-list li {
  display: flex;
}

.top-event-list li span {
  font-size: 1rem;
  font-weight: 800;
}

.top-event-list li .event-info {
  padding-left: 1rem;
}

.top-event-list li .event-info p {
  margin-bottom: 0.5rem;
}

.top-event-list li:first-child {
  background-color: #151618;
  color: #d60e0e;
}

.page-item.active .page-link {
  background-color: #151618;
  border-color: #151618;
}

.track_lead_tbl tr td:nth-child(2) {
  font-weight: 600;
}

.track_lead_tbl tr td .input-calc {
  width: 70px;
  height: 30px;
}

.track_lead_tbl tbody.hide {
  background-color: #eee;
}

.track_lead_tbl tbody.hide td {
  background-color: transparent;
}

.track_exp_tbl tr td:last-child {
  background-color: #f7f7f7;
  font-weight: 600;
}

.track_exp_tbl tr td .input-calc {
  width: 70px;
  height: 30px;
}

.input-group-text {
  line-height: 1;
}

.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #eee;
  border-color: #eeeeee #eeeeee #eee;
}

.kpis-content {
  background-color: #eee;
  padding: 1rem;
}

.kpis-content .kpis-block {
  text-align: center;
  height: 200px;
  padding: 2rem;
  background-color: #fff;
  margin-bottom: 1rem;
}

.kpis-content .kpis-block h1 {
  margin-top: 2rem;
  font-size: 2rem;
  color: #d60e0e;
  font-weight: 600;
}

.kpis-content .kpis-block p {
  text-transform: uppercase;
  font-weight: 600;
  color: #151618;
}

.calander-ctrl {
  display: flex;
}

.calander-ctrl span {
  margin-right: 0;
}

[data-toggle="toggle"] {
  display: none;
}

.add-campaign-list {
  margin-top: 1rem;
}

.add-campaign-list li {
  padding-bottom: 1rem;
}

@media (max-width: 600px) {
  .page {
    padding: 1rem 0 1rem 0;
  }
  .app-header .checkbtn {
    display: block !important;
    font-size: 20px;
  }
  .app-header nav {
    padding: 1rem 1rem 1rem 1rem;
  }
  .nav-links {
    position: fixed;
    width: 250px;
    height: 100vh;
    flex-direction: column;
    background: #2c3e50;
    top: 65px;
    left: -100%;
    flex-direction: column;
    transition: all .2s ease-out;
  }
  nav .nav-links .link {
    display: block;
    color: #fff;
    margin: 0;
    padding: 0.5rem 1rem;
  }
  a:hover, a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .nav-dropdown {
    position: relative !important;
    float: none;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    border-radius: 0;
    border: 0;
    padding: 0;
    margin: 0;
    transform: none !important;
  }
  .nav-dropdown .link {
    font-weight: 200;
  }
  .page-filter .filter-list li {
    display: block;
    border: 0;
    padding: .6rem 0;
  }
  .page-filter .filter-list li .filter-btn {
    display: block;
  }
  .page-dashboard .page-content {
    padding: 0 !important;
  }
  .page-dashboard .stats-list {
    overflow: unset;
    height: auto;
  }
  .page-dashboard .stats-list li h1 {
    font-size: 1rem;
    font-weight: 600;
  }
  .page-title .actions-ctrl {
    margin-bottom: 1rem;
  }
  .login-page {
    flex-direction: column;
  }
  .login-page .login-form,
  .login-page .login-content {
    width: 100%;
    padding: 1rem;
  }
  .login-page .login-content {
    height: 200px;
  }
  .login-page .logo {
    margin: 0 auto;
  }
  .login-page .form .form-fields .form-group {
    margin-bottom: 0.6rem;
  }
}
/*# sourceMappingURL=main.css.map */